.page-header{
  position: relative;
  background: #BEAB96;
  border-bottom: #3B3937 solid 0.8em;
  width: 55%;
}

.page-header h1{
  background: none;
  letter-spacing: 0.8em;
  font-size: 1.7em;
  padding: 0.6em;
  margin: 0;
}

#flower-3{
  position: absolute;
  background: none;
  height: 330%;
  bottom: -120%;
  left: 70%;
}