.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo{
  height: 60vh;
}

.home-buttons{
  margin: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}