.about h1 {
  letter-spacing: 0.8em;
  color: #3B3937;
  background: #BEAB96;
  text-align: center;
  font-size: 1.3em;
  padding: 0.6em;
  margin: 0;
}

.about h2 {
  letter-spacing: 0.8em;
  color: #f4f4f4;
  background: #3B3937;
  text-align: center;
  font-size: 1em;
  padding: 0.6em;
  margin: 0
}

.headshot{
  height: 48vh;
  box-shadow: -0.6em 0.6em #3B3937;
}

.about-info{
  display: flex;
  margin: 3.4em;
}

.bio-and-buttons{
  margin: 0 2.5em;
  width: 60%;
  font-size: 1.3em
}

.about-buttons{
  display: flex;
  justify-content: space-around;
}

.about-button{
  font-size: 0.5em;
}